/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} /* END CSS RESET */

/* BEGIN MY PAGE STYLING */

/* ###################### */
/* ###### NAV BAR ####### */
/* ###################### */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 115px;
  margin-bottom: 35px;
}
#page-title-nav, #contact-nav {
  padding: 40px 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.9rem;
  text-transform: uppercase;
}
#contact-nav {
  font-size: 1.25rem;
}
h2 > a {
  text-decoration: none;
  color: #444;
}
h2 > a:hover {
  font-size: 103%;
  color: #999;
}

/* ###################### */
/* ####### MAIN ######### */
/* ###################### */
.parallax_section {
  height: 92vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 100% auto;
  /*background-position: 0 60px;*/
  position: relative;
  transform: translateZ(1px) scale(1.08);
}
.text_on_image, .content_block_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.images {
  opacity: 0.7;
  max-width: 100%;
  /*height: auto;*/
}
.text_on_image {
  font-size: 5rem;
  text-align: center;
  color: #222;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5rem;
}
.content_block_wrapper {
  /*height: 70vh;*/
  padding: 15% 10%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}
.content_block_heading {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.content_block_content {
  font-weight: 400;
  letter-spacing: 1.75;
}

/* ###################### */
/* ###### BOTTOM ######## */
/* ###################### */

#form-and-cloud-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10% 0;
}
@media screen and (max-width: 760px) {
  #form-and-cloud-wrapper {
    flex-direction: column;
  }
  .word-cloud-wrapper {
    padding-top: 5%;
    order: -1;
  }
}
#form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 45px
}
.word-cloud-wrapper {
  /*display: flex;
  justify-content: center;
  flex-direction: column;*/
  width: 350px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  text-align: justify;
}
h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  padding: 10px;
  color: #333;
}
.word-cloud__word {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  color: #90d6f3;
}
.word-cloud__word:hover {
  transform: scale(1.1);
}
/*.word-cloud__word--x-small,*/
.word-cloud__word--small {
  font-weight: 100;
}
/* Unused for now */
/*.word-cloud__word--x-small {
  font-size: 10px;
  color: #c6e8f7;
}*/
.word-cloud__word--small {
  font-size: 13px;
  color: #b0def2;
}
.word-cloud__word--large {
  font-size: 22px;
  color: #0fa0dd;
}
.word-cloud__word--x-large {
  font-size: 32px;
  letter-spacing: -0.0125em;
  color: #0a79a7;
}
#icon-wrapper {
  display: flex;
  /*height: 80vh;*/
  justify-content: space-around;
  margin-bottom: 60px;
}
.icon {
  max-width: 75px;
}
.icon:hover {
  transform: scale(1.1);
}

/* ###################### */
/* ###### FOOTER ######## */
/* ###################### */

footer {
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  text-align: center;
  padding: 5vh;
  color: #111;
  background-color: #eee;
}

footer > a {
  color: #111;
}

/* ###################### */
/* ## MAIN IMAGE LINKS ## */
/* ###################### */

.parallax_image_first {
  background-image: url("https://i.imgur.com/Mw4qkpM.jpg");
}
.parallax_image_second { /* this is just a placeholder image */
  background-image: url("https://lh3.googleusercontent.com/IJlWAqdrT_iOkRgcTRsi-WP6Wra43MjJBw0dPldHROgiue_ANuf4eiHjiMgIXJAFEDocE_vJfFj8w8-wzouZb5z_MRjmGCmwiFRk2REVqXKQ6X320A1As9dsec2urqo7haeT-koFrh2bxo3tX0ORVl9IqhqhY7Nesvy7dFS_uMws-z6w6ToyDWa74n8HmC2JUQ8S4gzgOLrNWCSVGGVGyrE4u3HVKGgRN5bdzq_uoD6xI7SSGtqgPXc-SDwwvMPen0-EtGTaCkzGiSI552t9FSiYrPOqN5MJ3DyFQCBW2P5A3Nu3we407fAHEGNtBummE52rZ8wu60cmwTw7TEqdPF4HPbkAFG2AdbO2H41Z1fXGNzkjaqhEbnfEw9Xkv8GPGVxZzfEmxb62cdb87_xYzbI6Kodj7s7CODZtXcNvQx0amQ_9i5rTIyUd1HnlyxfGrd1-Mmu_yLVTY03Rbv1JBcfHpLo8Kq090yxjewCsZpum5CQ7XxKGHeQ_PIUuFxRKKmJ9Bv41A02PzUM4itM3iVmUr7F_MjX99496ES2EKVKF1yBY5kHI6i5JCxNgaqGoV_h4VGoy0Tz-0vTC9a1uwrmQ0gdJmbXMxxGhiHMMIOE6sZut=w1380-h776-no");
}
.parallax_image_third {
  background-image: url("https://lh3.googleusercontent.com/h8JbHeWbzZGtjdRQPE05s-0nGv5gLmGMp94KCWAoh-E5tKJ0JGBB959KswSHzpdRg_quTm5Wkd7kdsqoiVdARfD_sQ3Ci2_UK-yBl-IvrrUdz-dtO4jn-0bFFUGliwypapEC7l1c566etB_CYlVGSstgCckiC8zB1x15LiUmZMgx5rsSVmGE8TpcriBuaWub7b7KNPQQbd6clRCzaPgTvCOJGApQjCo9UOWSFLf7LZ-4NySE89c5yX_QWBMV9E5ENrZQcj5mZlMLaPqU6EeF-iovsb51BGi8zl7vY6WYL5vPFjufDd-7onpkjjlgmLBbt42L4UhMO9VIApWiyB3kfB2vg05u_GzK0BWKqGKzwGidf7i4JbIaHa48BTJhDN5CQXypB8BSLEZ-1P_XVgstmjo3rzQd1-0VLUiXcnWIW56tmuF2M66j_0_SonVhbDXqNGBcbZ19PO-znO6CjrWFTfJ0Ik7IHsaQVmz0K2CfBPtienfPLUT-wwxfo6iaTfzJ97ZP1xLnG8HuSw8Jt08T5jodySevlAnyAAwnHfncqCao81x9h_E_w40yr7DRJSXDRwqSxTCXQCUORLBtU4CXj5fSY_QNr0Kz8k55xgBT4qwA1Cq-=w1380-h776-no");
}
.parallax_image_fourth {
  background-image: url("https://lh3.googleusercontent.com/0yL6VXMPssOFWFFWbNDTLam0xQZEKQThaFdg_e8cl0SZoYmKySy_46wgPPRbKWnGd5GNJqGgt2tFie3uWILVu6mIeBjrTAeBKBihC6eevJ4mtx0uEOrQDhCD1r2j25zhC2OtZlj3aP7Bkpgu2Gs8FTz1sRrOoNYme-exEquMkMpOAy2sfRNGTh11ahz87AsxeMOrvmiKDtrWGqJA-zF0Ds8FCxYNXRK2H8_9u-eD4erG3THb_AFk-9U4swJkNJaPMqfD_1mgMUz1MXSF_h0ox-NC1BvzPrnXpv8_Lr6dtHATz5FP4gPbdmTDPThGIUfi36qEBpFg130x8R1TBPEPK6gpkCO2c1bOuVNgVFeJ72IXQILcpMRT9XSeWcDG39cqVoOEf_0eEvbzUGldXQgfBSjjBIpN2mjJxBzOeFy2L5lnAaBV5AiLMwc2LHBEXPA7W7A_1We-gTxmNPyrAqNEcDhqhtq1piP6GJPTrPAQlii6DG1WQb3gdsEkLuLDkr3LKDvURIsON3Zkhcjym0Ige_E-sZDLUt_I3vJXUKI4_VMbDnjkv2cyOavEs-g5HDjxRHKhsSqbO7rxPefWe3D7VsoYaJD02mrMipW64VxyDh8lpAYo=w1380-h776-no");
}
