body {
  /*max-width: 960px;*/
}

nav {
  width: 100%;
  height: 100px;
  /*position: relative;*/
  display: flex;
  justify-content: space-between;
  background-color: darkgray;
}

nav > h2 {
  padding: 0 60px;
}

.parallax_section {
  height: 92vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 100% auto;
  position: relative;
  transform: translateZ(1px) scale(1.08);
  /*background-size: cover;*/

}

.section_title, .content_block {
  vertical-align: baseline; /* NOTE SEE IF THIS WORKS */
  /*width: 980px;*/
  margin: 0 auto;
}

.section_title {
  font-size: 4rem;
  display: block; /* NOTE SEE IF THIS WORKS */
  text-align: center;
  /* position: absolute;  NOTE SEE IF THIS WORKS */
}

.content_block {
  height: 350px;
}

.icon {
  max-width: 75px;
}


.parallax_image_first {
  background-image: url("https://i.imgur.com/Mw4qkpM.jpg");
}
.parallax_image_second { /* this is just a placeholder image */
  background-image: url("https://images.unsplash.com/photo-1422748956421-2d6326b6d9d6?dpr=1&auto=format&fit=crop&w=1500&h=2284&q=80&cs=tinysrgb&crop=");
}
.parallax_image_third {
  background-image: url("https://images.unsplash.com/photo-1466854076813-4aa9ac0fc347?dpr=1&auto=format&fit=crop&w=1500&h=844&q=80&cs=tinysrgb&crop=");
}
.parallax_image_fourth {
  background-image: url("https://images.unsplash.com/photo-1450740199001-78e928502994?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=");
}
